.list-todo-container{
    background-color: #fff;
    max-width: 400px;
    margin: 0 auto;
    min-height: 450px;
    h1{
        color: #000;
    }
    .add-todo{
        width: 100%;
        margin-bottom: 20px;
    }
    .list-todo-content{
        padding: 0 20px;
        .todo-child{
            background-color: #F2F2F2;
            display: flex;
            justify-content: space-between;
            max-height: 40px;
            line-height: 40px;
            padding: 0 10px;
            margin: 5px 0;
            .content{
                max-width: 250px;
                width: 100%;
                text-align: initial;
                overflow: hidden;

                span{
                    color: #000;
                    max-width: 250px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .btn{
                display: flex;
                align-items: center;
            }
        }
    }
    
}